body {
    margin: 0;
    padding: 0;
    background-image: url('./img/background.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: #3E7348;
}

.content {
    text-align: center;
    font-family: Arial, sans-serif;
    width: 100%;
    height:100%;
}

h1 {
    color: #820909;
    font-family: 'Berkshire Swash', cursive;
}

.table-head {
    font-family: 'Berkshire Swash', cursive;
    font-size: xx-large;
    font-weight: bold;
    color: #820909;
}

.table-body {
    font-family: 'Amatic SC', cursive;
    font-size: xx-large;
    font-weight: bold;
    color: #e1e1e1;
}

.img-button {
    background: none;
    border: none;
    padding-bottom: 5px;
    cursor: default;
}

p {
    color: #e1e1e1;
}

.form-label {
    font-weight: bold;
    margin-right: 10px;
}

.gift-form {
    margin: 20px 0;
    font-family: 'Amatic SC', cursive;
    font-size: xx-large;
    font-weight: bold;
}

input[type="text"] {
    padding: 5px;
    font-size: 16px;
    width: 200px;
    font-family: 'Amatic SC', cursive;
    font-size: large;
    font-weight: bold;
}

.vertical-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 20px;
}

.horizontal-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit {
    padding: 10px 20px;
    margin-bottom: 5px;
    font-size: 18px;
    background-color: #820909;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.error {
    color: #820909;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 65px;
    text-align: center;
}

.error-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.gift-table {
  width: 100%;
  border-collapse: collapse;
}

.gift-table thead {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.gift-table tbody {
  display: block;
  max-height: calc(100vh - 50px - 1rem - 50px);
  overflow-y: auto;
  width: 100%;
}

.gift-table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
  background-color: #00000065;
}

.gift-table td {
  padding: 0.65rem;
  border-bottom: 3px solid #ddd;
  text-align: left;
}

.gift-table th {
  background-color: #820909;
  color: white;
  height: 45px;
  border-bottom: 3px solid #ddd;
  padding: 0.5rem;
}

.return {
    height: 20px;
    margin: 0;
    padding: 10px 0;
    font-family: 'Amatic SC', cursive;
    font-size: xx-large;
    font-weight: bold;
    color: #e1e1e1;
    text-decoration: none;
}